.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width:400px;
    height: auto;
  }
#photobank {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 50px;
}

label{
    color: white;
}
h1{
    color: white;
    font-size: 50px;
}

fieldset{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 25px;
}
input{
    width: 60px;
    aspect-ratio: 3/2;
    font-size: 25px;
}
button{
    height: 45px;
}